# Include documentation and license
include ../README.md
include ../LICENSE

# Include shared library
include mini_quadlib/*.so
include mini_quadlib/libmini_quadlib.so
recursive-include mini_quadlib *.so

# Include type hints marker
include mini_quadlib/py.typed